:root {
    --light_head: #f0f0f0;
    --dark_head: #333;
    --light_blue: #add8e6; /* Light blue color */
    --dark_blue: #0000ff; /* Dark blue color for night mode */
}

.PaginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    padding: 10px;
}

.PaginationButton {
    background-color: var(--light_blue); /* Default to light blue */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.PaginationButton:hover {
    background-color: var(--light_blue);
    transform: scale(1.1);
}

.PaginationButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.PaginationButtonActive {
    background-color: var(--light_blue);
    font-weight: bold;
}

/* Night mode styles */
.PaginationButtonDark {
    background-color: var(--dark_blue); /* Dark blue background */
    color: #fff; /* White text */
}

.PaginationButtonDark:hover {
    background-color: #444; /* Darken hover state slightly */
}
