
.MainLayout{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--light_back);
    min-height: 100vh;
}
.MainLayoutDark {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    color: #f0f0f0;
    min-height: 100vh;
}
